<a href="https://colab.research.google.com/github/vdantas40/Mini_proj_price_house/blob/main/Syst_Recomention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJETO DE RECOMENDAÇÃO E AUMENTO DE RECORRÊNCIA DE COMPRA

### 1.0 PACOTES

In [1]:
import pandas_profiling
from ipywidgets import interact, widgets

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import datetime as dt
from datetime import datetime
# LIBERAR VISÃO DO DRIVE NO DIRETÓRIO COLAB
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### USUARIOS E SEUS DIRETORIOS COLAB

In [2]:
colabdirect = str(input('Digite seu nome: adriano; alexandre; gabriel; pedro; willian; yuri; vdc'))

if colabdirect == str:
  print('Seu nome')
elif colabdirect == 'alexandre':
  dfvendas = pd.read_csv('/content/drive/MyDrive/DNC/amostra_compras_dnc.csv')
elif colabdirect == "adriano":
  print('adriano')
elif colabdirect == "gabriel":
  print('GABI')
elif colabdirect == 'willian':
  print('WILL')
elif colabdirect == 'pedro':
  print('pedro')
elif colabdirect == 'yuri':  
  print('yuri')
elif colabdirect == 'vdc':
  dfvendas = pd.read_csv('/content/drive/MyDrive/Grupo17DNC/amostra_compras_dnc.csv')

print(f'Dados do diretório do {colabdirect}'.format(colabdirect))
dfvendas.head(1)

Digite seu nome: adriano; alexandre; gabriel; pedro; willian; yuri; vdcvdc
Dados do diretório do vdc

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,siteid,date,time_epoch_hr,visitor_visitorid,visitor_visitcount,sku,product_name,category,price,quantity,order_transactionid,order_revenue,current_purchase,total_purchases
0,SAP-5535001,2022-09-20,2022/09/20 21:59:43,0000f0c029a62613,2.0,400750,TRIUNFF LUGAR AMERICANO 45 CM X 30 CM,Acessorios/Mesa/Toalhas de Mesa e Jogos Americ...,11.28,4.0,1263134292244,219.67,1,1

In [3]:
# SEM NECESSIDADE DE TRATAMENTO - sem dados nulos ou NAN
#msno.bar(dfvendas,figsize=(25,1))

### 2.0 TRATAMENTO DE DADOS ORIENTADO A RECOMPRA / RECOMENDAÇÃO

In [ ]:
# PRECISAMOS TRABALHAR COM CONTAGEM DE DATAS
dfvendas['time_epoch_hr'] = pd.to_datetime((dfvendas['time_epoch_hr']),format="%Y-%m-%d %H:%M")
# FILTRAR CLIENTE
#dfvendas['time_freq'] = dfvendas['time_epoch_hr'].diff()

# FILTRAR EMPRESA >>>>>>>>>>>>>>>>>>
dfsap5048 = dfvendas[(dfvendas['siteid'] =='SAP-5535048')]#&(dfvendas['category']== 'Agua Destilada - 210')]
# VAMOS RETIRAR ALGUMAS VARIÁVEIS PARA MELHORAR A VISÃO NO DF
dfsap5048.drop(columns = ['date','siteid','product_name','order_revenue','sku'], inplace = True)
# MOLDAR OBJETO PARA NUMÉRICO
dfsap5048['order_transactionid'] = dfsap5048['order_transactionid'].astype(int)
# IDENTIFICAR APENAS 1 LINHA POR ORDEM
dfsap5048 = dfsap5048.drop_duplicates(['order_transactionid'])
# MELHOR ORIENTAR A CADA CLIENTE 
##dfsap5048.sort_values(by='time_epoch_hr', ascending=True, inplace=True)
lista43 = dfsap5048['visitor_visitorid'].unique()

In [ ]:
## LISTA DE CLIENTES ÚNICA # 531 clientes únicos
xxx = dfsap5048[dfsap5048['total_purchases'] >5]
l43 = xxx['visitor_visitorid'].unique()
print(len(l43),l43)

In [9]:
#lista = dfsap5048[dfsap5048['visitor_visitorid'] == x]
#lista = dfsap5048.groupby(by=x)['price'].sum()

In [ ]:
# ESTUDAR A TX DE RECOMPRA: QUANTAS PESSOAS RECOMPRAM? PERCENTUAL QUE RECOMPRA? O QUE ELAS RECOMPRAM? QUAL O TEMPO QUE SE LEVA PARA RECOMPRA?
# CRUZAR INFORMAÇÕES SOBRE A RECORRÊNCIA DE COMPRA?
# QUAIS FEATURES MAIS IMPACTAM NA RECOMPRA (insigths)?
cliente    = []
quant      = []
valor      = []
timemean   = []
#tx_recomp  = []
timefim    = []
timeinicio = []

for i in l43:
  print(i)
  x = dfsap5048['visitor_visitorid'] == i

  c = len(dfsap5048[x])
  p = dfsap5048.groupby(by=x)['price'].sum()
  #tx= dfsap5048.groupby(by=x)['total_purchases'].max()
  t = (dfsap5048.groupby(by=x)['time_epoch_hr'].diff()).sum()/c
  t1 = dfsap5048.groupby(by=x)['time_epoch_hr'].max()
  t0 = dfsap5048.groupby(by=x)['time_epoch_hr'].min()

  print(t)
  #if c > 5:
  cliente.append(i)
  quant.append(c)
  valor.append(p[1])
  #tx_recomp.append(tx)
  
  timemean.append(t)
  timefim.append(t1[1])
  timeinicio.append(t0[1])

listona = [cliente,quant],#valor,tmUser]

Ticket médio;
Custo de aquisição do cliente;
Lucratividade;
Taxa de conversão de vendas;
Índice de inadimplência;
Retorno sobre investimentos;
Satisfação do cliente.

In [185]:
# ESTUDAR A TX DE RECOMPRA: 
      #QUANTAS PESSOAS RECOMPRAM? total de pesssoas comprando 531
      # >>> Qual a taxa de recompra? 
      #QUAL O TEMPO QUE SE LEVA PARA RECOMPRA? O QUE ELAS RECOMPRAM?
      # >>> Quais os fatores influenciam e interferem na recompra
diasXX = pd.DataFrame(cliente)
diasXX['qt']        = quant # na média compram 6,9 ou 7x
diasXX['tick_mean']   = valor / diasXX['qt']
diasXX['tx_rec']    = ((diasXX["qt"] / diasXX['qt'].sum())*100).map('{:,.2f}'.format) # não usar % '{:,.2f}%'

diasXX['timebuy']   = timemean
diasXX['first_buy'] = timeinicio
diasXX['last_buy']  = timefim
diasXX['dias_count']= diasXX['last_buy'] - diasXX['first_buy']
diasXX['dias_dist'] = diasXX['dias_count'] / diasXX['qt']
diasXX['tx_rec']    = diasXX['tx_rec'].astype(float) # para o agrup2 rode média
diasXX

,0,qt,tick_mean,tx_rec,timebuy,first_buy,last_buy,dias_count,dias_dist
0,000ef5b554d08a2b,6,30.291667,0.24,5 days 04:48:50.166666666,2022-05-05 22:14:18,2022-08-23 17:12:15,109 days 18:57:57,18 days 07:09:39.500000
1,021691f89b29ccc3,9,295.165556,0.37,-9 days +06:38:24.666666667,2022-09-21 15:57:01,2022-09-21 17:47:39,0 days 01:50:38,0 days 00:12:17.555555555
2,0239e1b401d9c77d,6,35.916667,0.24,11 days 02:29:26.333333333,2022-04-27 10:41:34,2022-09-19 15:43:08,145 days 05:01:34,24 days 04:50:15.666666666
3,02a029bae6e32199,6,15.718333,0.24,10 days 13:55:56,2022-05-05 13:59:54,2022-09-24 15:40:26,142 days 01:40:32,23 days 16:16:45.333333333
4,02dbd0cded590d45,9,73.166667,0.37,4 days 22:26:39.333333333,2022-05-26 10:03:39,2022-09-26 10:08:29,123 days 00:04:50,13 days 16:00:32.222222222
...,...,...,...,...,...,...,...,...,...
285,fb6a4f411690dfcf,16,19.200000,0.65,7 days 04:36:32.375000,2022-04-01 09:03:34,2022-10-12 00:53:08,193 days 15:49:34,12 days 02:29:20.875000
286,fc42903ecc98711f,6,15.595000,0.24,5 days 17:18:39.666666666,2022-05-13 12:57:31,2022-09-03 10:54:25,112 days 21:56:54,18 days 19:39:29
287,fc436b7a4a209139,7,87.200000,0.28,6 days 02:43:10.285714285,2022-05-31 11:59:23,2022-09-29 21:06:31,121 days 09:07:08,17 days 08:09:35.428571428
288,fe14bcde36c251d8,9,45.782222,0.37,2 days 03:59:38.333333333,2022-04-29 12:01:10,2022-08-05 14:02:51,98 days 02:01:41,10 days 21:33:31.222222222
289,ffe2ab0630c716e9,6,13.878333,0.24,15 days 09:39:48.833333333,2022-04-08 15:31:28,2022-09-26 15:35:17,171 days 00:03:49,28 days 12:00:38.166666666

In [223]:
((diasXX['qt']-1).sum()) / diasXX['qt'].sum() # tx de recompra 88%

0.8821617228768793

In [146]:
dfsap5048[dfsap5048['visitor_visitorid'] == '000ef5b554d08a2b']

,time_epoch_hr,visitor_visitorid,visitor_visitcount,category,price,quantity,order_transactionid,current_purchase,total_purchases
732096,2022-05-05 22:14:18,000ef5b554d08a2b,18.0,Alcool - 207,7.90,10.0,6539078,1,6
732098,2022-05-09 21:20:22,000ef5b554d08a2b,20.0,Seringa Descartavel - 70,0.35,250.0,6562175,2,6
732101,2022-05-09 22:09:08,000ef5b554d08a2b,20.0,Luva - 2428,2.80,56.0,6562604,3,6
732104,2022-05-10 18:58:09,000ef5b554d08a2b,21.0,Alcool - 207,7.90,10.0,6571847,4,6
732106,2022-05-13 17:12:23,000ef5b554d08a2b,23.0,Luva - 2428,2.80,56.0,6599609,5,6
732108,2022-08-23 17:12:15,000ef5b554d08a2b,43.0,Seringa Descartavel - 70,160.00,1.0,7317627,6,6

In [191]:
# ESTUDAR A TX DE RECOMPRA: QUANTAS PESSOAS RECOMPRAM? PERCENTUAL QUE RECOMPRA? O QUE ELAS RECOMPRAM? QUAL O TEMPO QUE SE LEVA PARA RECOMPRA?
# CRUZAR INFORMAÇÕES SOBRE A RECORRÊNCIA DE COMPRA?
# QUAIS FEATURES MAIS IMPACTAM NA RECOMPRA (insigths)?
grupo_periodos = np.arange(0, diasXX['qt'].max()+1, 7)
diasXX['grupo_periodos'] = pd.cut(diasXX['qt'], grupo_periodos)
# USAR GROUPBY PARA AGRUPAR
df_agrup1 = diasXX.groupby('grupo_periodos', sort=True).sum()
df_agrup2 = diasXX.groupby('grupo_periodos').agg({'tx_rec': [ 'min','mean','max']}) * 100
df_agrup3 = diasXX.groupby('grupo_periodos', sort=True)['dias_count'].mean()
df_agrup4 = pd.concat([df_agrup1, df_agrup2,df_agrup3], axis=1)
df_agrup4['tx_rec'] = df_agrup4['tx_rec'].map("{:.2f}%".format)
df_agrup4

,qt,tick_mean,tx_rec,"(tx_rec, min)","(tx_rec, mean)","(tx_rec, max)",dias_count
grupo_periodos,,,,,,,
"(0, 7]",1009,10618.675238,40.36%,24.0,25.383648,28.0,119 days 23:40:32.113207548
"(7, 14]",1119,8051.799841,45.92%,33.0,39.586207,57.0,131 days 12:46:22.603448276
"(14, 21]",156,1911.095725,6.33%,61.0,70.333333,81.0,121 days 01:32:57.222222222
"(21, 28]",100,3442.599653,4.07%,93.0,101.750000,110.0,117 days 09:30:29.750000
"(28, 35]",34,547.961176,1.38%,138.0,138.000000,138.0,4 days 07:26:11
"(35, 42]",0,0.000000,0.00%,NaN,NaN,NaN,NaT

In [195]:
a = 40.36 + 45.92 + 6.33 + 4.07+ 1.38
100 - a

1.9399999999999977

In [37]:
df_agrup3['qt'].sum()

2418

###6.0 MODELO DE RECOMENDAÇÃO

In [ ]:
(diasXX.groupby(diasXX.qt.
 tolist(),dropna=False).size().
 to_frame('User_buy').
 sort_values('User_buy',ascending = False)
)

In [ ]:
# DATASET SEGREGADOS PARA ANALISE TYPOS ISOLADAS
#dfnumber = dfsap5048.select_dtypes(include = 'number')
#dfescrita= dfsap5048.select_dtypes(include = 'object')
#dfdatas  = dfsap5048.select_dtypes(include = 'datetime')

In [ ]:
# 1)	Estudar a taxa de recompra: quantas pessoas recompram, percentual que recompra, o que elas recompram, qual o tempo que se leva para recompra.

In [ ]:
# A correlação de Pearson avalia a relação linear entre duas variáveis contínuas.
# Uma relação é linear quando a mudança em uma variável é associada a uma mudança proporcional na outra variável.
#dfnumber.corr(method='pearson')  # corr>> total_purchases com current purchase 82% # corr>> current com visitocount 40% # corr>> total current com visitcount 37%

In [ ]:
# A correlação de Spearman avalia a relação monotônica entre duas variáveis contínuas ou ordinais. 
# Em uma relação monotônica, as variáveis tendem a mudar juntas mas não necessariamente a uma taxa constante.
# O coeficiente de correlação de Spearman baseia-se nos valores classificados de cada variável, em vez de os dados brutos.
#dfnumber.corr(method='spearman') # corr>> total com current purchase 77% # corr>> visitorcount com current ou total 51% # corr>> quantity com price -63%

In [ ]:
qt_user = dfsap5048[dfsap5048['visitor_visitorid'] == '1dfefe5b2f5f6d34']
list43 = qt_user #58352
list43['time_epoch_hr'].min() 
dfsap5048['dif_dias'] = dfsap5048['time_epoch_hr'] - dfsap5048['time_epoch_hr'].min()
dfsap5048.head(3)
dfsap5048['dif_dias'].median()

In [ ]:
timeday

In [ ]:
diasX = pd.DataFrame(listona)
#pd.pivot(diasX, columns=['valor'] ) # index=['values='price', column= ,values=)
diasX = pd.melt(diasX, id_vars=0, value_vars=[3])

In [ ]:
lista43 = len(dfsap5048['current_purchase'].unique())

#dt1 = datetime.date(fff['time_epoch_hr'][0])

#fff['current_purchase'].diff().fillna(0).mean()
#fff[~fff['current_purchase'].isnull()]['current_purchase'].diff()
#fff['time_epoch_hr'].max() -fff['time_epoch_hr'].min()

In [ ]:
#o ticket médio;
#a taxa de abandono de carrinho;
#Por meio de quais anúncios impulsionados eles chegaram no site;
#quais dos clientes realizaram uma nova compra nos meses seguintes;

In [ ]:
diasXX = diasXX['qt'].sort_values(ascending=False)

media_dias = diasX.mean()
print(media_dias, diasX)

In [ ]:
clientetotal = dfdiasbuy['qt'].sum() # 3666
dfdiasbuy['Perc%'] = dfdiasbuy['qt'].cumsum()/ clientetotal *100
dfdiasbuy

In [ ]:
dfsap5048.iloc[[0,500,5]]

In [ ]:
dfsap5048.groupby(by=x)['price'].sum()/ len(dfsap5048[x])

In [ ]:
1184+938+341

In [ ]:
# FILTRAR EMPRESA
dfsap5048 = dfvendas[(dfvendas['siteid'] =='SAP-5535048')]#&(dfvendas['category']== 'Agua Destilada - 210')]
# VAMOS RETIRAR ALGUMAS VARIÁVEIS PARA MELHORAR A VISÃO NO DF
dfsap5048.drop(columns = ['date','order_revenue','product_name'], inplace = True)
# MOLDAR OBJETO PARA NUMÉRICO
dfsap5048['order_transactionid'] = dfsap5048['order_transactionid'].astype(int)
# IDENTIFICAR APENAS 1 LINHA POR ORDEM
dfsap5048 = dfsap5048.drop_duplicates(['order_transactionid'])
# MELHOR ORIENTAR A CADA CLIENTE 
dfsap5048.sort_values(by='time_epoch_hr', ascending=True, inplace=True)
# FILTRAR CLIENTE
dfsap5048['time_freq'] = dfsap5048['time_epoch_hr'].diff()
freqcompra = dfsap5048['time_freq'].describe() #>> describe clientes >> mean = 0 days 00:04:10.609278958 >> std 0 days 00:12:08.355047424
dfsap5048['preco_unico'] = dfsap5048['price'].diff()
varpreco = dfsap5048['preco_unico'].describe() # >>  mean -0.009789 >> std  566.297026
listaclientes = list(dfsap5048['visitor_visitorid']) # >> 69470 clientes únicos

In [ ]:
## y = dfsap5048['visitor_visitorid'].unique()  #58352
## x = dfsap5048.drop_duplicates('total_purchases')[:100]
## w = dfsap5048["visitor_visitorid"].value_counts()
## z = dfsap5048["visitor_visitorid"].sort_values(ascending=True) 
## a = dfsap5048.nlargest(50, 'visitor_visitorid')
#lista = dfsap5048[dfsap5048['visitor_visitorid'] == x]
#lista = dfsap5048.groupby(by=x)['price'].sum()
## qt_user = dfsap5048[dfsap5048['visitor_visitorid'] == '0003cb364618e8ca']
## lista43 = qt_user.groupby(by=['total_purchases'])['visitor_visitorid'].apply(list)
#lista34 = qt_user.nlargest(1000, 'current_purchase', 'all')
lista43
# LISTA UNICA DE CLIENTES PARA ITERAR >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
xxx = dfsap5048[dfsap5048['total_purchases'] >5]
l43 = xxx['visitor_visitorid'].unique()
print(len(l43),l43)

In [ ]:
freqcompra

In [ ]:
time_buy = dfsap5048.groupby(by=['time_freq'],sort=True, group_keys=False )['price'].apply(list)
#time_buy2 = np.array(fsap5048.groupby(by=['time_freq'],sort=True, group_keys=False )['price'].apply(list))
#print(time_buy2,len(time_buy2), len(time_buy2[3]))
print(time_buy)

#### 2.2 Separando dados por empresa
<p> 2.2.1 Empresa com nicho de produtos farmacêuticos
<p> O Máx de compras recorrentes de um cliente foi de 43
<p> DF vendas tem 929698  mil linhas

In [ ]:
time_buy = (dfsap5048.groupby(by=['time_freq'],sort=True, group_keys=False )['quantity'].apply(list))
print(time_buy)

In [ ]:
qt_buy = dfsap5048.groupby(by=['current_purchase'],sort=True, group_keys=False )['price'].apply(list)
qt_buy.head(-40)

In [ ]:
qt_user = dfsap5048.groupby(by=['current_purchase'],sort=True, group_keys=False )['visitor_visitorid'].apply(list)
qt_user[1]
#fiquei na dúvida sobre se esse dado é confiável porque há chaves iguais.

In [ ]:
len(qt_user)

In [ ]:
users = list([])
#tb_user = pd.DataFrame()
contd = 1
for i in range(len(qt_user)):
  i += contd
  users.append(len(qt_user[:][i]))
users
tb_user['qt'] = users
tb_user

In [ ]:
dfcliente = dfvendas[(dfvendas['siteid'] =='SAP-5535048')&(dfvendas['visitor_visitorid'] == '0001030c8dc84ed2' )]
dfclientedata = dfcliente.nlargest(30,['date'], keep='all')  #.nsmallest
dfclientedata

In [ ]:
#dfvendas[['date']].plot(figsize=(25,5))
dfvajuste = dfvendas.drop(columns = ['sku','product_name'])#, inplace = True])
(
  dfvajuste# == 'SAP-5535048']
 .groupby(dfvajuste.columns.tolist())#, dropna=False)
 .size()
 .to_frame('n_duplicates')
 .query('n_duplicates>0')
 .sort_values('n_duplicates', ascending=False)
)

In [ ]:
dfsap5535048 = dfvendas[dfvendas['siteid'] ==  'SAP-5535048']#.query('total_purchases > current_purchase') drop['sku','product_name]
dfsimilar = dfsap5535048['category'].str.split(" ", n=5, expand=True )
(dfsimilar[0].unique())
dfm_similar = pd.DataFrame(columns=(dfsimilar[0]))
dfsimilar

#### OUTROS

In [ ]:
for i in dfsimilar[0]:
  for j in dfm_similar:
    dfm_similar = dfsimilar.groupby(i)[j].transform('count')
    print(j)

In [ ]:
contColNames = list(dfvendas.select_dtypes(include='number').columns)
contColNames

In [ ]:
ncols = 3

In [ ]:
nrows = int(np.ceil(len(contColNames)/(1.0 * ncols)))
nrows

In [ ]:
fig, axes = plt.subplots(nrows=nrows, ncols=ncols, figsize=(20,10))

counter = 0 

for i in range(nrows):
  for j in range(ncols):

    ax = axes[i][j]

    # Plotar somente quando houver dados
    if counter < len(contColNames):

      ax.hist(dfvendas[dfvendas[contColNames[counter]]<25].select_dtypes(include='number')[contColNames[counter]], bins=100)
      ax.set_xlabel(contColNames[counter])
      ax.set_ylabel('Frequência')

    else:
      ax.set_axis_off()

    counter += 1

plt.show()

In [ ]:
dfvendas.info()

In [ ]:
fig = plt.figure()

plt.bar(dfvendas['visitor_visitorid'].unique(), dfvendas['price'].value_counts())

plt.title('Distribuição visitantes', loc='left')

In [ ]:
sns.pairplot(dfvendas)

In [ ]:
# TRATAR objeto
#dffluxo['visitor_visitorid'].apply(np.int64)

#visitor_id.str.replace('.','').str(',','.').astype("float")

# max_visitor = dfvendas.nlargest(1000000, 'visitor_visitorid',keep='all')

### EXTRA ANALISE DE VENDAS NAS EMPRESAS

###

In [ ]:
# VERIFICANDO A TX DE DESCONTO EM CADA PRODUTO PARA SE TER EM MÉDIA OS PREÇOS NAN
dfvendas['receita'] = dfvendas['price'].sun().astype(int)
dfvendas['ticket'] = dfvendas['receita'] / len(dfvendas)
dfvendas['ticket']

In [ ]:
dfvendas = pd.read_csv('/content/drive/MyDrive/Grupo17DNC/amostra_compras_dnc.csv')

In [ ]:
dfvendas
import plotly.express as px
fig = px.box(dfvendas,
             x="siteid", y="price",
             title="Desvio Padrão nos Preço x EMPRESA",)
fig.update_traces(quartilemethod="inclusive",) #or inclusive or linear
fig.update_layout(margin={'r':0,'t':0,'l':0,'b':0})
fig.show()

In [ ]:
listaCia = ['SAP-5535001','SAP5535027','SAP5535048']

In [ ]:
dfvendas.head(3)

In [ ]:
dfvendas['Pvendatotal'] = dfvendas['price'] * dfvendas['quantity']
fatTotal = dfvendas['Pvendatotal'].sum()
numVendas = len(dfvendas)
ticketmedtotal = fatTotal /numVendas
print(f'Faturamento total foi de {fatTotal:.2f}, e as vendas total de {numVendas:.2f}, chegamos ao Ticket Médio de {ticketmedtotal:.2f} nas 11 empresas'.format(fatTotal,numVendas,ticketmedtotal))

In [ ]:
cia = dfvendas['siteid'].unique()
len(cia)
cia

In [ ]:
lista1 = []
lista2 = []
for k in (cia):
  dfcia = dfvendas.loc[dfvendas['siteid']==k]
    
  dfcia['Pvendatotal'] = dfcia['price'] * dfcia['quantity']
  fatTotal = dfcia['Pvendatotal'].sum()
  numVendas = len(dfcia)
  ticketmed = fatTotal /numVendas
  lista1.append(k)
  lista2.append(ticketmed)


  #print('contagem {} e {}'.format(lista1,lista2))
#lista.append(ticketmedtotal)
lista1

In [ ]:
tckmed = pd.DataFrame(data=lista1)
tckmed['ticket'] = lista2
tckmed = tckmed.rename(columns={0:'Empresa'})
tckmed

In [ ]:
ax1 = tckmed.plot.bar(rot=0)
ax2 = ax1.twinx()
ax2.set_ylabel('Média', color='b')
ax2.plot(data='ticketmedtotal')
ax2.tick_params(axis='y', labelcolor='b')

In [ ]:
dfmeta = df.isnull().sum().sort_values(ascending=False)
dfdupli = df[df.duplicated(keep=False)]
dfdupli.shape[0]  / df.shape[0] -1

### 7.0 GRÁFICOS

In [ ]:
ds_temp = drugstore[['visitor_visitorid','total_purchases']]
ds_temp.groupby('total_purchases').size()

selecao = drugstore['total_purchases']==43
drugstore[selecao]

In [ ]:
# Store averages per basket size
ds_temp = ds_temp.groupby('order_transactionid').agg({'order_revenue': "mean"}).reset_index()
ds_temp = ds_temp[ds_temp.order_transactionid >= 3]

# Plot Relationship
plt.figure(figsize=(16,5))
ax = sns.regplot(data = ds_temp, 
                 x="order_revenue", 
                 y="order_transactionid")
plt.title("Relationship between Average Order & Revenue")
plt.xlabel("Order Value")
plt.ylabel("Revenue")
plt.show()

In [ ]:
# Create Summary Data
ds_temp = drugstore.groupby('visitor_visitorid').agg({'order_transactionid':'count'}).reset_index()
ds_temp = ds_temp.groupby('order_transactionid').agg({'visitor_visitorid':'count'}).reset_index()
ds_temp['pct_customers'] = ds_temp['visitor_visitorid'] / np.sum(ds_temp['visitor_visitorid']) * 100
ds_temp['transition'] = ds_temp.visitor_visitorid / ds_temp.visitor_visitorid.shift(2) * 100

# Plot relationship
ax = sns.set_style(style=None, rc=None )
fig, ax = plt.subplots(figsize=(25,10))
sns.lineplot(data = ds_temp['transition'], marker='o', sort = False, ax=ax)
sns.barplot(data = ds_temp, x='order_transactionid', y='pct_customers', alpha=0.5, color = 'green', ax=ax)
plt.title("Customers by Number of Orders and Transition Rate")
plt.xlabel("Number of Orders")
plt.ylabel("Percentage of Customers")
plt.show()

In [ ]:
# Clear Objects
del ds_temp, ax, fig

# Identify customers with multiple purchases
ds_multi = drugstore.groupby('visitor_visitorid').agg({'order_transactionid':'count'}).reset_index()
ds_multi = ds_multi[ds_multi['order_transactionid'] > 1]

# Filter for customers with multiple purchases
ds_interval = drugstore[drugstore.visitor_visitorid.isin(ds_multi.visitor_visitorid)]

del ds_multi

# Convert timestamp to date and order the dateframe by customer and order date
ds_interval = ds_interval[['visitor_visitorid','time_epoch_hr']]
ds_interval['date'] = pd.to_datetime(ds_interval['time_epoch_hr']).dt.date
ds_interval = ds_interval.sort_values(by =['visitor_visitorid','date'])

In [ ]:
# Calculate the time interval
ds_interval['previous_date'] = ds_interval.groupby('visitor_visitorid')['date'].shift(1)
ds_interval.dropna(inplace = True)
ds_interval['order_interval'] = (ds_interval['date'] - ds_interval['previous_date']).dt.days

# Remove orders made on the same day
df_interval = ds_interval[ds_interval['order_interval'] > 2]

# Plot interval
plt.figure(figsize =(25,10))
ax = sns.boxplot(df_interval['order_interval'])
plt.title("Distribution of Days Between Orders")
plt.xlabel("Days")
plt.show()

# Clear objects
del ax, df_interval

In [ ]:
# Add order date to modelling dateframe
drugstore['date'] = pd.to_datetime(drugstore['time_epoch_hr']).dt.date

# Identify Max Purchase Date
v_maxdate = drugstore.date.max()

# Identify Max Purchase Date Per Customer
df_recency = drugstore.groupby('visitor_visitorid')['date'].max().reset_index()
df_recency['recency_days'] = (v_maxdate - df_recency['date']).dt.days
df_recency['segment_recency'] = np.where(df_recency['recency_days'] < 90, 'Active', 
                                         np.where(df_recency['recency_days'] <= 180, 'Inactive', 'Lapsed'))
# Plot
fig, ax = plt.subplots(1, 2, figsize=(18,8))
ax[0].set_title("Number of Customers")
ax[1].set_title("Distribution of Days")
sns.countplot(data = df_recency, x = 'segment_recency', order = ['Active', 'Inactive', 'Lapsed'], ax = ax[0])
sns.boxplot(data = df_recency, x = 'segment_recency', y = 'recency_days', order = ['Active', 'Inactive', 'Lapsed'], ax = ax[1])
plt.setp(ax[:], xlabel='Recency Segment')
plt.setp(ax[0], ylabel='Number of Customers')
plt.setp(ax[1], ylabel='Number of Days')
plt.show()

# Create Segment Dataframe
df_segments = df_recency[['visitor_visitorid', 'recency_days', 'segment_recency']].copy()

# Clear Object
del v_maxdate, df_recency, fig, ax